body {
    background-color: #506175;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#anketForm {
    background-color: rgb(164, 189, 212);
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 300px;
    text-align: center;
}

h1 {
    color: #345f7c;
    font-size: 24px;
    margin-bottom: 20px;
}

label, select {
    display: block;
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(133, 133, 133);
    border-radius: 5px;
}

button {
    background-color: #196338;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #219A52;
}

#sonuc {
    color: rgb(255, 255, 255);
    align-items:flex-end;
}